[2020-11-01 16:27] omerman opened #3 "You rock! using it but have some troubles with importing it"
Currently I kind of copied the src folder and importing the files I need in a weird way :)

When can we expect this to be published? or am I missing something?

Thanks

[2020-11-01 20:16] amen-souissi commented on #3
Hello :)
We are currently working on a first version of the documentation with examples on codesandbox. The release of the first version will probably be for the next few weeks (maybe with this package name @tanstack/svelte-query)
Thank you !

[2020-11-25 14:42] omerman commented on #3
@amen-souissi Any news? :grimacing:

[2020-11-25 15:48] omerman commented on #3
@amen-souissi I started using this(a moment ago) ->> @reactstack/svelte-query, it seems to be the same except for the name..

[2020-11-25 15:55] amen-souissi commented on #3
Please don't use it! it's only for testing... the publication process is being automated :)

[2020-11-25 16:33] omerman commented on #3
@amen-souissi While I wait for the official release, Im using it(Not holding anyone else accountable).. there is no other good alternative and it works perfectly.
I tested several key features such as enabling/disabling fetches, updating the cached data, prefetching seems to also work..

Anyways I'll keep waiting for the official release, thank you :)

[2020-11-25 16:33] #3 closed

[2020-11-26 08:18] amen-souissi commented on #3
@reactstack/svelte-query@1.0.0-beat.2 published

[2020-11-26 09:13] omerman commented on #3
@amen-souissi Ill have a look today

[2020-12-05 13:17] omerman opened #5 "queryKeyHashFn not working correctly?"
Hey again :)

I believe queryClient.setQueryData doesnt use the queryKeyHashFn I supplied, and therefore the updater I'm passing receives undefined for the current cached value argument.

I recently added queryKeyHashFn, and now when using queryClient.setQueryData my updater always receives undefined.

Could you please take a look?

Thank you

[2020-12-05 19:51] amen-souissi commented on #5
Hello @omerman :)

Try with the latest beta version please (@reactstack/svelte-query@1.0.0-beat.3)

Thank you

[2020-12-07 13:50] omerman commented on #5
Works well! :)

[2020-12-07 13:50] #5 closed

[2021-01-02 19:15] amen-souissi commented on #5
@reactstack/svelte-query is no longer supported. Please use @sveltestack/svelte-query instead.

[2021-01-07 10:49] evdama commented on #3
Hi folks... looks interresting... just came accross it about 10min ago and one question I have is this: how does it relate to e.g. rxjs? Is it build upon or does it require graphQL? Is there anything comparable people might know already so to understand what it actually is? 🤔

[2021-01-26 22:20] saturnonearth opened #6 "Expected prop defaultOptions"
Getting warning for, <QueryClientProvider> was created without expected prop 'defaultOptions'.

Could not find info in the docs to remove this.

[2021-02-04 13:11] amen-souissi commented on #6
#7

[2021-02-04 13:14] #6 closed

[2021-02-06 14:35] JustinVoitel opened #8 "unsupported engine warning"
Hey awesome library so far. Iam just wondering why there is a "Unsupported engine" warning when installing with npm v7. Is there a reason why I should use yarn instead of npm ?
![image](https://user-images.githubusercontent.com/30449535/107121117-ffbba900-6890-11eb-886e-18c5c1cdfbfc.png)

[2021-02-08 02:07] saturnonearth opened #9 "Unable to access children of response data when using Sapper"
[code]

Then later in the code...

[code]

Then...
[code]

will result in a the initial data showing for a split second and then it showing 'undefined'. What's weird is that if I just output the entire $queryResult.data it will _not show undefined_, but the entire object. I hope this makes sense.

EDIT: I found the issue! I needed to `return { data };`  instead of `return data` from axios, 🤦‍♂️

[2021-02-08 03:21] #9 closed

[2021-02-11 23:59] benwoodward opened #10 "Does SvelteStack have a Discord for discussing issues?"
..

[2021-02-12 08:29] amen-souissi commented on #10
https://discord.gg/5sK7CPKf  Freshly created ;)

[2021-02-12 08:29] #10 closed

[2021-02-14 19:47] huyz commented on #10
@amen-souissi invite expired?

[2021-02-14 20:17] amen-souissi commented on #10
https://discord.gg/7VTWQwrBZZ

[2021-02-16 22:35] dimfeld opened #12 "Allow passing queryClient in options instead of taking it from the context"
We have a legacy AngularJS 1.x web app which is being converted to Svelte over time, and would like to start using svelte-query here, both inside Svelte code and in some of the old Angular code too, and have them share the same QueryClient.

The main issue I'm having is that the only way for the various functions to get the query client is through `useQueryClient`, which depends on Svelte context.

[2021-02-16 23:44] dimfeld commented on #12
Made the change (no tests yet) at https://github.com/dimfeld/svelte-query/tree/queryclient-in-options

[2021-02-18 08:39] rccc opened #13 "Add a working graphql example"
This example does not work :https://sveltequery.vercel.app/graphql.

Adding an example without graphql-request would be great.

Many thanks

[2021-02-18 08:58] amen-souissi commented on #13
I don't have this problem. Try to refresh the browser after the first update. Or you can test it out on Storybook. yarn && yarn storybook
<img width="1417" alt="Capture d’écran 2021-02-18 à 09 53 23" src="https://user-images.githubusercontent.com/48829921/108331574-323d9e00-71cf-11eb-8a61-08ad54d7e59a.png">

[2021-02-18 09:36] amen-souissi commented on #12
Hello @dimfeld and thank you for this issue :)

I think we should only have one QueryClient. With your proposal, we can define many QueryClient. the useQueryClient guarantees this unicity.

[2021-02-19 18:57] dimfeld commented on #12
Yeah I sympathize with that. The problem is that doesn't work in any sort of microfrontend scenario or when using more than one frontend framework like we are while we transition over to Svelte. I can just use my fork though; the changes are small enough that it shouldn't be a hassle to maintain.

[2021-02-19 18:58] #12 closed

[2021-02-26 10:09] hyiuen opened #16 "Queries always maked as successful even when error occured"
Hello,

Thanks a lot for the project and the work put into it, really appreciate having a port of react-query in the Svelte ecosystem!

I notice recently trying to implement error handling logic that queries never really "fail", here an example based on the simple example:
https://codesandbox.io/s/optimistic-lumiere-j08we?file=/src/Simple.svelte:0-65

As you can see, I'm hitting a random URL on Gi

[2021-02-26 10:49] amen-souissi commented on #16
Hello,
Thanks a lot :)
To determine a query has errored, the query function must throw. Any error that is thrown in the query function will be persisted on the error state of the query.
docs:
https://sveltequery.vercel.app/guides/query-functions#handling-and-throwing-errors

example:
https://codesandbox.io/s/eager-hawking-ykdml?file=/src/Simple.svelte

Thanks

[2021-02-26 11:07] hyiuen commented on #16
Oops my bad, I totally forgot that `fetch` doesn't throw errors on failed request by default!

Thanks a lot for the quick response !

[2021-02-26 11:07] #16 closed

[2021-03-01 06:13] joidegn opened #17 "Cannot find module '../../src/methods/node.js'"
I'm struggling to get the basic examples of svelte-query to work. A clean sapper or svelte kit app results in this when I import anything from `@sveltestack/svelte-query`. Perhaps some issue with es6 modules vs commonjs but I am not experienced enough to figure out more.

e.g. `import { QueryClient, QueryClientProvider } from '@sveltestack/svelte-query'`

results in

[code]

[code]

[2021-03-01 11:02] mirkoschubert commented on #8
I had the same warnings. Just use the LTS version of node.

[2021-03-04 00:40] saturnonearth opened #18 "How would I go about refetching a query if another query comes back changed?"
Basically, I have a query that I want to go and check a timestamp, and if that timestamp has changed, I want to refetch or fetch the actual data I need. I want to do this to prevent repeatedly fetching large amounts of data.

Is this possible? If so, how would I go about doing this? Thanks.

[2021-03-04 08:49] amen-souissi commented on #18
Hello and thanks :)

Since query keys uniquely describe the data they are fetching, they should include any variables you use in your query function that change.
I think that the timestamp should be included in your queryKeys.
Please see this https://sveltequery.vercel.app/guides/query-keys

[2021-03-05 19:34] arekbal commented on #17
Import it as devDependency. It helped me. Back to different issues.

[2021-03-05 21:06] saturnonearth commented on #18
Hi there, I figured it out, thanks!

[2021-03-05 21:06] #18 closed

[2021-03-06 05:33] joidegn commented on #17
Yeah that was it. Thanks and sorry for the silly issue.

[2021-03-06 05:33] #17 closed

[2021-03-09 23:58] frederikhors opened #19 "Is this production ready?"
Is this production ready?

[2021-03-11 19:31] frederikhors opened #20 "What about `grpc-web` calls?"
What about `grpc-web` calls?

[2021-03-11 20:16] amen-souissi commented on #20
Please see  https://github.com/tannerlinsley/react-query/issues/171

[2021-03-11 20:19] frederikhors commented on #20
Why? They are talking about websocket calls, right?

I'm talking about simple documentation examples for unary calls.

[2021-03-15 10:27] frederikhors opened #21 "A big, huge, infinite THANK YOU for your work."
A big, huge, infinite THANK YOU for your work.

A M A Z I N G !

[2021-03-15 13:02] arperyan commented on #13
HI @amen-souissi ,

Have you got a mutation example using graphQL?

Many Thanks,

Ryan Arpe

[2021-03-17 11:42] amen-souissi commented on #21
Thanks 🙂

[2021-03-17 11:43] amen-souissi commented on #19
Yes 🚀

[2021-03-17 11:43] #19 closed

[2021-03-17 11:44] #8 closed

[2021-03-17 12:01] #21 closed

[2021-03-18 23:57] JustinVoitel opened #22 "Add Vite example"
It would be nice if there would be any reference on how to use svelte-query with Vite.

[2021-03-19 00:08] frederikhors commented on #22
Although x is still in alpha and still a long way from beta.

[2021-03-19 11:13] JustinVoitel commented on #22
That might be true 😅 Then lets rearrange this issue to add a vite example since they recently added an official svelte template! `npm init @vitejs/app` will give you the option

[2021-03-27 17:58] mattjennings commented on #22
SvelteKit beta is out now, and it seems that the `detect-node` package does not play well with vite. The following error happens when trying to follow the [quick start example](https://sveltequery.vercel.app/quick-start)

[code]

I tried adding `detect-node` to vite's `optimizeDeps.include`, and got this error instead

[code]

[2021-04-04 22:24] frederikhors opened #24 "Why this line in package.json?"
Can I ask you why this line?

https://github.com/SvelteStack/svelte-query/blob/653c6401315b8e408091e08d937380fb3e23c816/package.json#L15

- package.json:
[code]

The new Svelte Kit init template starter comes with the file `.npmrc` with `engine-strict=true` inside which prevents installation.

I'm using `npm install -DE @sveltestack/svelte-query` command.

[2021-04-04 22:34] frederikhors commented on #22
@mattjennings I'm here too.

The problem I'm having is a different error in console:

[code]

Maybe this is your problem too?

@amen-souissi anyway I think we need to understand why is there this code in `dist/index.min.js`:

`...var $t=require("../../src/methods/node.js");...`.

[2021-04-04 22:47] frederikhors opened #26 "Are we really using the original .svelte files?"
I know that when in `package.json` there is the `"svelte": "svelte/index.js"` field the Svelte project that uses that package must use the original source code and not the final bundle in `dist`.

I tried to manually delete the `dist` folder from `node_modules/@sveltestack/svelte-query` and the project doesn't start anymore because it wants that folder.

Is this right or are we doing something wro

[2021-04-04 23:05] frederikhors commented on #17
Same problem here. Can you help me? I'm on the latest sveltekit@next (71) version. I'm already using svelte-query in devDependencies.

[2021-04-04 23:36] frederikhors commented on #22
I moved `"@sveltestack/svelte-query": "1.3.0"` from `devDependencies` to `dependencies` and now I have @mattjennings error.

[2021-04-04 23:44] frederikhors commented on #22
I found a work-around:

add this to `svelte.config.cjs` under `kit` > `vite`:

[code]

Can you confirm it works?

How can we fix this, @amen-souissi?

[2021-04-04 23:46] frederikhors opened #27 "[vite] Failed to load source map for /node_modules/@sveltestack/svelte-query..."
I'm using for the first time `svelte-query` and for the first time too `svelte-kit`.

I'm having these warnings/errors in console everytime I start my project:

[code]

Why?

[2021-04-05 00:20] frederikhors opened #29 "`useIsFetching` immediately inside `<QueryClientProvider>` throws"
Reading https://sveltequery.vercel.app/guides/background-fetching-indicators#displaying-global-background-fetching-loading-state:

If I use `useIsFetching` immediately inside `<QueryClientProvider client={queryClient}>` it throws:

`Error: No QueryClient set, use QueryClientProvider to set one`

I need to use a sub-components for it to work.

Why?

[2021-04-05 10:52] amen-souissi commented on #29
Thanks! useIsFetching in this case is called outside the provider in your case. Try to use the IsFetching component...

[2021-04-05 11:18] frederikhors commented on #29
Oh. Wow. You're right!

Is there any docs for `IsFetching` cmp?

[2021-04-05 11:22] frederikhors opened #30 "I have added this project on sveltesociety.dev"
I opened https://github.com/svelte-society/sveltesociety.dev/pull/202 to add this amazing project on https://sveltesociety.dev/.

Maybe you want to add something to that data?

[2021-04-05 11:23] frederikhors opened #31 "Is the algolia searching engine working on docs pages?"
Is the algolia searching engine working on docs pages?

![image](https://user-images.githubusercontent.com/41120635/113569048-158be700-9612-11eb-82fd-3a1694df267e.png)

[2021-04-05 18:51] SomaticIT commented on #22
@frederikhors, this workaround seems to work.

I don't understand why `vite` does not detect this dependencies as part of its dependency detection and pre-bundling process. Maybe this issue should be reported on `vite` or `vite-plugin-svelte` repository.

What do you think?

[2021-04-05 20:26] frederikhors commented on #22
I'm using `vite@2.1.5` but I don't have that `exclude` and I don't have that error.

Strange thing!

[2021-04-06 14:15] frederikhors commented on #20
This can be closed. I can PR in the future a guide.

[2021-04-06 14:15] #20 closed

[2021-04-07 09:55] frederikhors opened #35 "Upgrade dependencies"
As you can see there are a lot of dependencies to upgrade.

Are you sure about `fs`? Do we need it?

![image](https://user-images.githubusercontent.com/41120635/113847650-fb7c1100-9797-11eb-9eec-db61943fbe2f.png)

[2021-04-07 15:47] #27 closed

[2021-04-07 15:58] amen-souissi commented on #30
Cool, thanks :)

[2021-04-07 16:25] #24 closed

[2021-04-08 13:55] frederikhors opened #36 "An image cannot be downloaded on the docs site"
For a few days already there is an image that cannot be downloaded on the docs site:

![image](https://user-images.githubusercontent.com/41120635/114038879-8802fe00-9882-11eb-9645-96ae097ec747.png)

The img is pointing to: https://static.scarf.sh/a.png?x-pxid=c03d3ddd-b47e-4e26-a9b2-9df68b2ac970.

[2021-04-08 14:12] frederikhors commented on #26
It works if you put `@sveltestack/svelte-query` in `depenencies`.

[2021-04-08 14:12] #26 closed

[2021-04-08 14:14] frederikhors commented on #30
PR merged. I can close this.

[2021-04-08 14:14] #30 closed

[2021-04-08 14:15] frederikhors commented on #13
It works for me. Can we close this, @rccc?

[2021-04-12 19:01] frederikhors opened #37 "Review the following text (from React world) on docs page"
Review the following text (from React world) on docs page https://sveltequery.vercel.app/guides/important-defaults.

[2021-04-14 21:14] frederikhors opened #38 "Something similar to cache-first for Apollo and Urql?"
Coming from Apollo or Urql I would like to know if there is a way to mimic (or improve) the behavior of policies like "`cache-first`" ((the default) prefers cached results and falls back to sending an API request when no prior result is cached): https://formidable.com/open-source/urql/docs/basics/document-caching/#request-policies.

An example: I already have user data queried in Home page then I

[2021-04-20 01:10] yussdev opened #39 "SvelteKit integration"
is there a way to integrate svelte-query with SvelteKit ?

[2021-04-21 19:47] dimfeld commented on #12
Just an update if anyone else comes to this issue. As of Svelte 3.37 context can be passed into component created with the runtime API, so an external QueryClient can be passed in when creating components.

[2021-04-23 13:29] xstevenyung commented on #38
I think you can use Initial Query Data in this case: https://sveltequery.vercel.app/guides/initial-query-data

[2021-04-23 14:16] philip-weber opened #40 "The docs site does not seem to be up to date"
The docs site on https://sveltequery.vercel.app/ does not seem to be up to date. It seems that the content of the last three commits (since April 5, 2021) is not yet available on https://sveltequery.vercel.app/.

I have cleared the cache and also tried it with different browsers. Am I doing something wrong or does the documentation need to be released separately?

[2021-04-23 19:39] frederikhors commented on #40
What are you specifically referring to?

This project is not a 1 == 1 porting from React.

[2021-04-23 20:34] philip-weber commented on #40
I am aware that this is not a 1 == 1 porting from React. This issue is actually not referring to the React version. I just stumbled upon the fact that there are three commits in this repository in the docs folder since April 5, 2021 that are not yet visible on the docs site. Although there have been some releases since then. Two of the commits are actually from you ([edaafe0](https://github.com/Sv

[2021-04-23 20:40] frederikhors commented on #40
I'm sorry. I misunderstood.

I can't answer this question.

[2021-05-02 23:10] arekbal commented on #17
I would suggest to try fully reinstalling it as devDependency:
[code]
or the equivalent in `yarn`

Sounds **basic** but it could be just like that.

[2021-05-04 03:03] benwoodward commented on #22
I was getting the following error with SvelteKit after adding `svelte-query`:

[code]

Adding the `optimizeDeps` config fixed this issue for me, thanks.

[code]

[2021-05-06 00:21] saturnonearth opened #42 "Query still runs on re:focus even if failed 6 retries"
If a query fails and retries 6 times, it stops, but then re-starts on window re-focus.

[2021-05-09 15:37] tradaonline commented on #39
Any update on this issue? I'm waiting for this too. Hope coming soon.

[2021-05-10 16:23] PeufOne opened #43 "Reactive Query Key Change Detection ?"
Hi,

I'm probably missing a detail but I can't use the reactivity of Svelte for queryKey provided to useQuery().

Here is a very basic example of a search box that is not working :

[code]

[See on codesanbox](https://codesandbox.io/s/trusting-tharp-68ohi?file=/Test.svelte)

NOTE: the same logic work perfectly with react-query

Thank for this awesome framwork 💚
...and sorry for my english (Google

[2021-05-10 18:32] #43 closed

[2021-05-16 05:23] benmccann commented on #22
I'm surprised that you would have to add `broadcast-channel` to `optimizeDeps` because it already distributes an ESM version:

https://github.com/pubkey/broadcast-channel/blob/53a3f5d56c77ea252289661b4febd2d2196a7904/package.json#L29

Maybe it's because it has a dependency on `detect-node` which is not distributed as ESM that it's causing an issue. Can you get away with only including `detect-node

[2021-05-19 16:14] benmccann commented on #22
`detect-node` 2.1.0 now has an ESM version. Can anyone who hit this issue check if it is now fixed?

[2021-05-19 16:14] benmccann commented on #39
`detect-node` 2.1.0 now has an ESM version. Can anyone who hit this issue check if it is now fixed?

[2021-05-19 16:33] philip-weber commented on #22
Upgrading to `detect-node@2.1.0` has fixed it for me. I do not need that `include` anymore. I do still need the that `exclude` though. It doesn't matter whether `svelte-query` is a `dependency` or a `devDependecy`.

[code]

Just speaking for the `vite@2.3.3` integration. Haven't testet it with `SvelteKit`.

[2021-05-19 16:43] benmccann commented on #22
I believe that all Svelte components should be listed in `optimizeDeps.exclude` if you're using Vite and if you use SvelteKit that it will be done automatically so that it should just work out-of-the-box

[2021-05-22 02:12] benmccann commented on #39
This should be considered fixed now that https://github.com/SvelteStack/svelte-query/pull/44 has been merged

[2021-05-24 16:13] benmccann commented on #39
svelte-query 1.4.1 has been released and should be fully compatible with SvelteKit

[2021-05-24 16:15] benmccann commented on #22
`svelte-query` 1.4.1 has been released, which should be fully compatible with SvelteKit, so this issue should be able to be closed

[2021-05-24 21:00] frederikhors commented on #22
@JustinVoitel can you close this please?

[2021-05-24 21:00] frederikhors commented on #39
@yussdev can you please close this?

[2021-05-24 21:27] benwoodward commented on #22
Can anyone recommend a client to use with `svelte-query` that works with SvelteKit? I can't get Prisma's client to work with SvelteKit and it doesn't seem very well maintained.

[2021-05-24 22:22] frederikhors commented on #22
@benwoodward a client for what?

[2021-05-24 23:10] benwoodward commented on #22
Sorry, a graphql client that complements `svelte-query`. All the graphql clients I've looked at outside of the Prisma one have overlapping concerns and functionality with `svelte-query`. For example, I could use Apollo client, but it has its own cache and it doesn't look like it's possible to disable it, meaning I'd have two caches (Apollo's and `svelte-query`s).

[2021-05-24 23:25] frederikhors commented on #36
It works now.

[2021-05-24 23:25] #36 closed

[2021-05-24 23:31] frederikhors opened #45 "Still issues with broadcast-channel dependency and svelte-kit"
@amen-souissi @benmccann I tried `1.4.1` now.

We still have a problem with `broadcast-channel` if I remove these lines from `svelte.config.js`:

[code]

This is the log:

[code]

Do you have any idea?

Maybe this is related to `"type": "module"` in `package.json` which is the default in a new SvelteKit project, right?

[2021-05-25 18:16] benmccann commented on #45
@frederikhors can you provide a small sample project to reproduce? I can try taking a look to see what the issue is then

[2021-05-25 18:25] frederikhors commented on #45
- `npm init svelte@next my-app`
- `cd my-app`
- `npm install`
- `npm install --save @sveltestack/svelte-query`
- `npm run dev`

I'm using Windows 10.

[2021-05-25 23:29] benmccann commented on #45
I have no issue on Linux. Maybe you're hitting the Vite Windows bug https://github.com/vitejs/vite/issues/2393

[2021-05-26 08:07] frederikhors commented on #45
Oh. Although the error is slightly different.

We wait for that bug to be closed so check back here, please.

[2021-05-29 03:39] benwoodward commented on #22
Nevermind, https://github.com/lynxtaa/awesome-graphql-client seems to be a good companion to `svelte-query`.

[2021-06-01 23:45] frederikhors opened #46 "Is there a way to getQueryData() with one key only?"
I'm using the code from the docs: https://sveltequery.vercel.app/guides/placeholder-query-data#placeholder-data-from-cache:

[code]

My problem is I'm caching `blogPosts` along with pagination info, something like:

[code]

Is there a way I can use `placeholderData` with `.getQueryData("blogPosts")` key only (without `pagination`)?

[2021-06-02 09:46] marcomonsanto commented on #45
Hi, I have the same issue. I'm using macOS.

`500
require is not defined

ReferenceError: require is not defined
    at /node_modules/broadcast-channel/dist/es/method-chooser.js:19:20
    at instantiateModule (/Users/marcomonsanto/Documents/pessoal/crypto-wallet-svelte/node_modules/vite/dist/node/chunks/dep-e9a16784.js:68197:166)
`

[2021-06-02 10:16] frederikhors commented on #46
I think there is an answer here: https://github.com/tannerlinsley/react-query/discussions/2336#discussioncomment-814165.

But I leave this open for a few days in case there is someone more experienced who wants to add something.

[2021-06-02 10:46] frederikhors commented on #46
I was wrong. It doesn't work for list/detail with e.g. pagination.

The first query matched may not contain the post in the e.g. second page.

So I ended up with the below code, what do you think?

[code]

Can you suggest something more elegant?

[2021-06-02 21:26] benmccann commented on #45
@marcomonsanto can you provide a repo and instructions to reproduce? I just tried the steps above again that @frederikhors provided and still don't see any error

[2021-06-08 11:09] darekaze commented on #45
Hi, I don't think this is a window-only bug, cuz I also got this error using Ubuntu Linux. Even I tested a basic repo running in codesandbox, I still got the same error.

Here is a reproduce repo made in Code Sandbox, hope this help: https://codesandbox.io/s/svelte-query-bug-141-f0ksh

[2021-06-08 14:01] benmccann commented on #45
Thanks for providing the repo. That's a bug in `broadcast-channel`: https://github.com/pubkey/broadcast-channel/issues/636

[2021-06-11 17:11] benmccann commented on #39
It looks like there's still a minor issue, but this can be closed in favor of https://github.com/SvelteStack/svelte-query/issues/45

[2021-06-17 01:43] annazus opened #47 "Using svelte-query with jest - Cannot find module '../../src/methods/node.js'"
When importing from svelte-query in a jest test file I get

[code]
I have placed svelte-query in devDependencies as suggested in another issue but still have the same problem.

Project to reproduce the issue [here](https://github.com/annazus/jest-svelte-query)

[2021-06-20 07:32] frederikhors opened #48 "Using `refetchOnWindowFocus` when I change it to false it fetches one more time!"
I'm using this code to query my `players`:

[code]

but in this way when I switch `refetchEnabled` to `false` it refetches my `players` one more time before stopping.

Am I wrong?

[2021-06-21 16:14] geoffreymugnier opened #49 "[Vite] Function called outside of component initialization"
~~Edit : my example is stupid, it lacks a provider. I will have a better example when I get home~~

Hi, first let me start by saying that the library is great. I've been using it in classic svelte projects and it works like a charm.
This week I started working on a Vite project and... well this time, it's not really working.

When I call useQuery in component initialization, it just throws "Functi

[2021-06-21 18:47] geoffreymugnier commented on #49
The problem was not related not svelte-query but to @sveltejs/vite-plugin-svelte
From the docs :

Added this to my vite.config and everything's okay.

[code]

[2021-06-21 18:47] #49 closed

[2021-07-16 08:40] dimfeld commented on #45
This isn't a real solution that can be merged into `broadcast-channel`, but as the relevant issue on that repo was closed, I made a fork that removes NodeJS support and the related call to `require`.

https://github.com/dimfeld/broadcast-channel

I'm not using the broadcast functionality in svelte-query, so can't guarantee that it still works, but the changes were minor.  Hopefully it helps someon

[2021-07-16 15:04] freddez commented on #39
Does someone have a working example with sveltekit ?
I always get this error :

[code]

[2021-07-16 15:21] freddez commented on #39
Sorry if it is the wrong channel, but I've fixed my issue by adding :

[code]
in svelte.config.js (config.kit.vite.optimizeDeps)

[2021-07-26 17:04] benmccann commented on #45
I sent a PR for this: https://github.com/SvelteStack/svelte-query/pull/50. I'm just doing it to try to get more libraries working on SvelteKit. I don't use `svelte-query` myself, so help testing would be appreciated as I haven't tested it

[2021-07-28 19:14] annazus commented on #47
Any updates on this?  This prevents our running any tests in the project using svelte-query.

[2021-08-04 02:15] dimfeld commented on #48
Does this work better for you? Don't know for sure that it will solve your issue but it avoids recreating the entire query when `refetchEnabled` changes.

[code]

[2021-08-04 14:00] frederikhors commented on #48
It works! Thanks!

[2021-08-04 14:03] frederikhors commented on #48
The is no mention in docs about: `updateOptions()`, or am I wrong?

[2021-08-04 15:42] frederikhors commented on #48
Can I ask you what's the difference between these code versions, given this one:

[code]

So what's the difference between the first version:

[code]

the second one (doesn't work):

[code]

and the third one (doesn't work)?:

[code]

Is there any performances difference?

You said for your code:

Is this a performance problem?

Is using many reactive variables the same as one query only in terms

[2021-08-04 15:50] frederikhors opened #52 "keepPreviousData doesn't work with this code"
Using the below code `keepPreviousData` doesn't work.

[code]

Why?

Am I wrong using it?

[2021-08-04 18:51] dimfeld commented on #48
Not that I've seen. I just found it in the source a while ago when I was looking for similar functionality.

Not really, but my supposition was that recreating the query is causing it to run the fetch again when you didn't want it to.

As for the other questions, I think if you want to change the query key then you do have to actually recreate the whole query object.

[2021-08-07 22:10] benbender commented on #52
@frederikhors Could you elaborate on what "doesn't work" concretely mean? What are you trying to achive and what is the actual result?

[2021-08-07 22:11] frederikhors commented on #52
@benbender The data is not kept.

[2021-08-07 22:16] benbender commented on #52
@frederikhors That is the correct behavior of `useQuery`. `keepPreviousData` only means that the data should be kept until the new data arrived. What you are most likely looking for is `useInfiniteQuery`. See https://sveltequery.vercel.app/guides/infinite-queries

[2021-08-07 22:19] frederikhors commented on #52
So what are you saying is `keepPreviousData` does not work with `useQuery`? This is my mistake?

[2021-08-07 22:24] benbender commented on #52
It works as intended. Its just that `keepPreviousData` doesn't do what you think it does ;) So, as said, you are just using the wrong api for what you are trying to achive.

[2021-08-07 22:33] frederikhors commented on #52
@benbender I think you don't know what I'm trying to achieve. The example code I posted is about pagination. When you change page it doesn't work as it should. `keepPreviousData` doesn't retain data during fetching for new page.

I'm not looking for infinite query.

[2021-08-08 05:33] benbender commented on #52
Thats why I asked in the first place ;)

If I'm getting your code right, you are rerunning `useQuery()` on prop-change instead of updating its props. That should be the reason why you are loosing your state in between...

[2021-08-08 06:35] frederikhors commented on #52
Oh wow. Maybe it is. Can you write a simple example to better understand?

[2021-08-08 07:12] frederikhors commented on #52
If I need to update the composite query key I need to re-create it? Right?

https://github.com/SvelteStack/svelte-query/blob/main/examples/pagination/src/components/Pagination.svelte

The code here is similar to mine.

I really don't understand.

Maybe we should update docs in some points.

[2021-08-08 07:12] frederikhors commented on #52
If I need to update the composite query key I need to re-create it? Right?

https://github.com/SvelteStack/svelte-query/blob/main/examples/pagination/src/components/Pagination.svelte

The code here is similar to mine.

I really don't understand.

Maybe we should update docs in some points.

[2021-08-08 08:53] benbender commented on #52
The thing is, that, in difference to react, svelte doesn't continuously compare & propagate props via a virtual dom. You have to opt-in to svelte's reactivity. The solution to this different paradigm in svelte, which this lib took, was to basically to wrap every method of react-query into a svelte-component because components in svelte have a defined lifecycle and react to prop-changes.

I persona

[2021-08-08 09:42] frederikhors commented on #43
Aren't you re-creating again and again that query this way, @PeufOne?

[2021-08-08 09:49] frederikhors commented on #52
Thanks for your work.

I think this lib is not production ready yet. Or at least it's not solid enough for the development speed I'm looking for and not to run into problems when you want to do something other than "Hello world".

Thanks again for your effort.

[2021-08-08 10:45] benbender commented on #52
To be fair: It's much more complicated as it seems on the first glance. And I think this lib has done a tremendous job for a first shot and at that time (the whole ecosystem is shifting and developing at light-speed atm...). And sveltekit isn't even on 1.0...

Generally speaking the different concepts/semantics between react/svelte stand in the way of a straight port of react-query. F.e. in react,

[2021-08-09 08:34] PeufOne commented on #43
Hi @frederikhors,

Yes, but if the cache and performance are preserved, why not? ...

Isn't that what happened with react-query?

I carried out the same small example to make a comparison:

- [Demo in Svelte](https://codesandbox.io/s/trusting-tharp-68ohi?file=/Test.svelte)
- [Demo in React](https://codesandbox.io/s/sad-boyd-61cm5?file=/src/Test.js)

I know Svelte doesn't work like React at all.
Bu

[2021-08-10 14:20] frederikhors commented on #43
I know, is very good.

I think this is a bug, but we should wait for an @amen-souissi answer.

[2021-08-10 14:29] frederikhors commented on #43
Another issue is if you try to use:

[code]

the query starts two times. It's a mess!

[2021-08-13 09:56] geoffreymugnier commented on #47
Same problem here. Cannot test any component that's using svelte-query.
Any update ?

[2021-08-15 09:40] frederikhors commented on #48
@amen-souissi can you please help here? Svelte newbie here. 😄

@amen-souissi are you still interested in keeping the project and helping people use it? I sincerely ask just to understand for the future, no criticism between the lines... 😃

[2021-10-01 21:24] derolf opened #57 "Clarify: “ violate the rules of hooks”"
https://sveltequery.vercel.app/guides/parallel-queries

I am verify familiar with the concept of hooks and all their pitfalls in React, but this is the first time I read something mentioning rules of hooks in Svelte.

Can you please elaborate what can go one calls useQuery conditionally?

[2021-10-04 05:01] paolotiu commented on #57
I think the docs were basically copied and pasted from react-query.

[2021-10-04 05:31] derolf commented on #57
Yeah, that’s what I figured out as well. Anyway, I think the docs should be fixed…

[2021-10-19 15:20] halindraprakoso opened #58 "Does the caching even work or am I missing something?"
Hello,

I tried to run a simple query:
[code]
But everytime I reload or switch page back and forth, the data looks to be refetched everytime.
On the devtools network tab I'm expecting (disk cache) being used, but it doesn't.

I tried:
[code]

am I missing something?

[2021-10-27 20:15] #58 closed, assigned to nobody

[2021-11-02 13:58] cascading-jox opened #59 "Are there any plans to open the github discussion page again?"
Right now CONTRIBUTING.md points to https://github.com/SvelteStack/svelte-query/discussions which throws 404, I assume it was working earlier. Are there any plans to open it again? I would be delighted if I could discuss how to manage the `UseQueryStoreResult` object (from useQuery) with someone.

[2021-11-03 23:43] albingroen opened #60 "Cache not working as expected"
This video shows 2 pages where both include the `Threads` component. The *issue* is that on __first__ navigation the cache from the initial page doesn't seem to get used. If you go back though and then click a thread again, the list cache seem to get used.

For context, I am using SvelteKit

https://user-images.githubusercontent.com/19674362/140233638-36a03bba-a033-467b-a4c4-745531903b55.mp4

## `

[2021-11-11 15:22] SomaticIT commented on #60
Based on your feedback, I think that this is an expected behavior.

When you navigate to the "thread" page, the component is instatiated again, so the query re-runs.
When you navigate back, the old component is re-used, so the query is not re-executed.

I think, if you add a link to go back (not using the history), you will have the same behavior: query will re-run on every navigation. Can you try

[2021-11-11 15:22] #60 closed

[2021-11-11 15:23] SomaticIT commented on #59
@amen-souissi, what do you think?

[2021-11-11 15:29] SomaticIT commented on #57
Since `useQuery` creates a `Readable` store. It can't be conditionnally executed (svelte compiler will try to subscribe to it anyway).

[2021-11-11 15:35] SomaticIT commented on #52
There is one thing that I see that could make an error.
You recreate the `Readable` store when you update the `queryKey`.

`useQuery` should always be stored in a `const`.

Can you try to rewrite it like this:
[code]

[2021-11-11 15:38] SomaticIT commented on #48
`useQuery` should always be stored in a `const`.
There is a bug in the current version when you update the `queryKey` using `updateOptions`.

This will be fixed in `v1.5.0` (released today).

I closed this because it's mostly a duplicate of #52.

[2021-11-11 15:38] #48 closed

[2021-11-11 16:00] SomaticIT commented on #46
This is not very elegant but as for now, this is the only way to make it work.

I think you can optimize a little by doing:
[code]

This will stop both loops when you data is found.

To help make it more elegant, I suggest writting an helper:
[code]

Now you can:
[code]

[2021-11-11 16:00] #46 closed

[2021-11-11 18:13] SomaticIT commented on #45
Hello,

A new version (v1.5.0) of this library has been published today.
This version makes broadcast-channel an optional dependency.
This should fix all problems with svelte-kit.

If you need to use the experimental `broadcastQueryClient`, you now need to install it manually (see: [broadcastQueryClient](https://github.com/SvelteStack/svelte-query/blob/main/docs/src/pages/plugins/broadcastQueryCli

[2021-11-11 18:13] #45 closed

[2021-11-11 18:19] SomaticIT commented on #42
This is an expected behavior, queries are also re-started if you navigate again on this page.

If you want to avoid some errors to be retried (eg: 404, 403, etc.), you can use the `retry` option:

[code]

[2021-11-11 18:19] #42 closed

[2021-11-11 18:20] SomaticIT commented on #39
Hello,

A new version (v1.5.0) of this library has been published today.
This version makes broadcast-channel an optional dependency.
This should fix all problems with svelte-kit.

If you need to use the experimental `broadcastQueryClient`, you now need to install it manually (see: [broadcastQueryClient](https://github.com/SvelteStack/svelte-query/blob/main/docs/src/pages/plugins/broadcastQueryCli

[2021-11-11 18:20] #39 closed

[2021-11-14 17:23] philip-weber opened #63 "Vite project not starting in development mode without broadcast-channel installed"
After updating to release 1.5.0 I needed to install `broadcast-channel` manually to get my project running in development mode. The production bundle, on the other hand, can be created without the dependency without any problems and works perfectly. I'm not using the `broadcastQueryClient` in my project. I use `vite@2.6.14`. Of course I can install `broadcast-channel` but I thought it would not be

[2021-11-15 17:36] #22 closed

[2021-11-20 05:40] lkj4 commented on #39
how does it integrate with SvelteKit's `load` function which provides a super-powered `fetch`, does svelte-query deal with this and all other SvelteKit extras? Would love to see this in the readme right at the top btw.

[2021-11-28 20:29] vaclavgreif opened #64 "Custom hooks?"
I'm coming from the React SWR, where I can create a hook like this:
[code]
and then use it in my components like this:
[code]

Is something like the possible with Svelte Query? I tried a manual subscription to the `useQuery`, which doesn't seem to trigger the re-render though.

[2021-11-30 13:18] SomaticIT commented on #64
Hello,

It's not exactly the same way.
`svelte-query` use svelte's [stores](https://svelte.dev/docs#svelte_store) internally.

You can use the `derived` store to create custom "hooks":
[code]

Then, you can use it in you Svelte components:
[code]

[2021-11-30 13:23] vaclavgreif commented on #64
Very cool, thanks, I didn't know about the derived stores!

[2021-11-30 13:23] #64 closed

[2021-12-08 09:36] ivanjeremic opened #65 "Calling .slice throws error: "Cannot read properties of undefined (reading 'slice')" Even if defined."
Doing ```{#each $queryResult.data.slice(0, 9) as item (item.id)}``` throws error: `Cannot read properties of undefined (reading 'slice')` Even if defined.

This is impossible because I have all my checks in my markup, so it renders the each only when there is data, at least I know for fact that this could never happen in react js, to have it `undefined` at his point, so this seems to me like a bug

[2021-12-08 13:59] SomaticIT commented on #63
Hello,

Indeed, we tried to make `broadcast-channel` an optional dependency since it's only used in `broadcastQueryClient` to reduce the package size.

It created a side effect with vite which tries to load it even if you do not use `broadcastQueryClient`. Maybe we could open an issue on the `vite` side to improve this behavior.

As a workaround, you can exclude `broadcast-channel` from the [depen

[2021-12-08 14:54] SomaticIT commented on #65
Hello,

Can you provide a minimal reproduction code?

Thanks

[2021-12-08 15:16] SomaticIT commented on #52
I'm closing this issue since there is no new activity in the past month and I think this is not a bug but a bad implementation (see my comment below).

[2021-12-08 15:16] #52 closed

[2022-01-01 20:31] mpiorowski opened #67 "How to test svelte-query using jest / svelte-testing-library"
Hello,
I have setup up an application using this: https://github.com/mihar-22/svelte-jester#typescript
So i got working jest with sveltekit, everything works fine when i render simple page.

But my problem is when i try to add svelte-query. I mocked http requestes using msw, but it seems like the useQuery is in never ending 'loading' state. No errors, no nothing, always loading.

Do i need to do s

[2022-01-01 20:36] mpiorowski commented on #67
I tried adding tick() function from svelte, but it didnt helped.

[2022-01-01 21:14] mpiorowski commented on #67
Sorry, everthing works perfectly :). If anyone will have a similar issue, I was missing:
- import 'whatwg-fetch';
- beforeAll(() => {
    Object.defineProperty(window, 'matchMedia', {
      writable: true,
      value: jest.fn().mockImplementation((query) => ({
        matches: false,
        media: query,
        onchange: null,
        addListener: jest.fn(), // Deprecated
        removeListener

[2022-01-01 21:14] #67 closed

[2022-01-30 10:46] winston0410 commented on #63
@SomaticIT @SomaticIT Are you able to use `svelte-query` with SvelteKit right now? I have tried to build the app with `svelte-query` installed, but still it has failed due to the `broadcast-channel` package

[2022-02-01 08:02] vboulaye opened #73 "broadcast-channel required in sapper/webpack build"
Hi,

I have a project using sapper + webpack and svelte-query in version 1.4.1 which works fine.

I tried to upgrade svelte-query to 1.6.0 but it does not build anymore.

I reproduced the issue by starting [a new project](https://github.com/vboulaye/svelte-query-test) from the sapper template and just adding the `QueryClient` in [`_layout.svelte`](https://github.com/vboulaye/svelte-query-test/blob

[2022-02-01 18:48] TylerPetri opened #74 "Hydration import bug"
[code]
@sveltestack/svelte-query/hydration -> _cannot_ be found

@sveltestack/svelte-query -> _can_ be found and works as intended

[2022-02-07 17:31] fmp777 opened #75 "Why are your examples using axios ?"
never mind, should've read more first!

[2022-02-07 22:20] #75 closed

[2022-02-14 10:57] SomaticIT commented on #63
I use it on a SvelteKit project in SPA mode.
I have to install `broadcast-channel` to allow vite to analyze imports.

[2022-02-15 21:09] a-jaouen opened #77 "asyncThrottle from createAsyncStoragePersistor-experimental is not throttling"
The `asyncThrottle` function used by `createAsyncStoragePersistor` is not working as expected.

https://github.com/SvelteStack/svelte-query/blob/76d0591cbe6699329103db75f95427b48b507991/src/queryCore/createAsyncStoragePersistor-experimental/index.ts#L37

Behaviour:
It will just delay the `persistClient` function with `throttleTime` but won't limit the number of concurrent call to 1.

Result:
The d

[2022-03-06 07:48] trasherdk commented on #67
[code]

[2022-03-13 02:20] saturnonearth opened #78 "Broadcaster is required as a dependency even when not using it (sveltekit)"
When using this with SvelteKit (Vite), it gives an error that you must install Broadcaster as a dependency, increasing the overall package size, even if you are not using that feature.

[2022-03-14 21:37] benwoodward opened #80 "svelte-query randomly runs the query server-side, and returns an empty result with 'success' status"
I have this confusing issue with `svelte-query` 1.6.0, `@sveltejs/kit` 1.0.0-next.295, and `svelte` 3.46.4.

Occasionally, `svelte-query` will seemingly at random run the query server-side, and returns an empty result with 'success' status.

This query usually works, and if this error happens, I can just open the URL in a new tab and it works fine.

Error:

[code]

If I log the query result, I get

[2022-04-14 09:58] finnstrand opened #82 "broadcast-channel error with SvelteKit"
I get `broadcast-channel` error with 1.6 and SvelteKit .311

[code]

_Originally posted by @SomaticIT in https://github.com/SvelteStack/svelte-query/issues/39#issuecomment-966523270_

[2022-04-14 10:31] SomaticIT commented on #82
Hello,

This is a duplicate of https://github.com/SvelteStack/svelte-query/issues/63.
The issue comes from vite: https://github.com/vitejs/vite/issues/6007.

I'm closing this issue to avoid duplication.

Thanks for your report.

[2022-04-14 10:31] #82 closed

[2022-04-14 10:32] SomaticIT commented on #82
FYI, you just have to install `broadcast-channel` as a dev dependency to allow vite to parse the package in development.
It will not be included in production.

[2022-04-20 13:29] finnstrand opened #83 "Best practise SvelteKit"
What is the best practice of using **Svelte Query** with **SvelteKit**?

I'm trying to use `useQuery` inside an endpoint, but I get the error message
`Function called outside component initialization`.

Should I do a `queryClient.prefetchQuery` in the endpoint instead?

*Thanks!*

[2022-04-21 23:31] pzcfg opened #85 "`onlineManager` listeners only called when using `setOnline(true)`"
We have custom logic in our app that uses `setOnline(false)` if our server isn't reachable. We were running into issues trying to react to this with `onlineManager`, and it seems the reason for this is that `onOnline()` (which calls the listeners) is only called when `setOnline()` is called with a truthy value.

<img width="393" alt="Screen Shot 2022-04-21 at 4 19 52 PM" src="https://user-images.g

[2022-04-27 18:20] pzcfg opened #88 "Provide examples for useQuery with reactive values"
After lots of debugging headaches https://github.com/SvelteStack/svelte-query/discussions/87 we discovered that we weren't using `useQuery` correctly when passing in reactive values.

We searched all sorts of different keywords online, and the only reference I could find to reactive values in queries was this one issue https://github.com/SvelteStack/svelte-query/issues/43

Could you please add exa

[2022-05-11 17:05] pzcfg opened #89 "BUG: Stale values after using .updateOptions() / .setOptions()"
We're running into a lot of issues using dependent queries, and I believe we've tracked it down to the store values not updating immediately after calling `.updateOptions()` and `.setOptions()`.

I've created a REPL to demonstrate the issue here: https://svelte.dev/repl/458963582d5c4b828b6152d44eb95467

In this example, the query fetches `https://jsonplaceholder.typicode.com/todos/${id}`, and the

[2022-05-11 17:12] pzcfg opened #90 "Make newer versions of svelte-query work in Svelte REPL"
I am able to use old versions of svelte-query in https://svelte.dev/repl/ using the following import:
[code]

However if I try to import a newer version like `@1.6.0` I see errors like
[code]

I'm not sure if this is an issue with the REPL, unpkg.com, or svelte-query, but as older versions work I think it will at least partially involve changes here.

[2022-05-13 04:27] pzcfg commented on #89
FWIW, I built the same thing in React using react-query and this issue does not occur https://codesandbox.io/s/staging-framework-bobm69?file=/src/index.js

[2022-05-17 03:36] eddiestacks opened #92 "localStoragePersistor no longer available, yet still in docs"
It seems the `localStoragePersistor` was removed in https://github.com/SvelteStack/svelte-query/pull/69, but the documentation still reflects it as available: https://github.com/SvelteStack/svelte-query/blob/main/docs/src/pages/plugins/createLocalStoragePersistor.md and here https://sveltequery.vercel.app/plugins/broadcastQueryClient.

I assume that `createWebStoragePersistor` is the successor of

[2022-05-24 19:03] dysfunc commented on #88
I looks like there's an issue with bindings in the svelte-query library itself. You're probably using it the same way everyone else that has reported this same issue (which works as expected in react-query). I put together this REPL with an older version of svelte-query to demonstrate the issue.

https://svelte.dev/repl/9fe7b9ef36f846ee8a807ad2b0d32c43?version=3.48.0

Scenario:
1. Initial load wor

[2022-05-27 19:38] pzcfg commented on #88
I'm pretty sure you're using this incorrectly and your fetch is only happening because `refetchOnWindowFocus` defaults to `true`.

You change your `queryParams.page`, but `const queryResult = useQuery()` is not reactive so it only runs when the component is initialized and isn't going to be re-run when parameters change. It seems the only reason yours is working is because `fetchPassengers` access

[2022-05-27 20:11] dysfunc commented on #88
Pretty sure it's being used correctly. Whether you use a specific property of the object or the params object, the param assignment should invalidate the useQuery cache since the property (or the object) has changed. The refetch works on focus because it performs refetch with the latest changes to the params object.

[2022-05-27 22:48] dysfunc commented on #88
Curious,  from the update REPL, what else are you looking for? Is it just documentation or a better to set things up?

[2022-05-28 00:02] pzcfg commented on #88
Part of it is documentation/examples. We couldn't find any of either for updating queries with new values. Attempting to follow the react-query paradigms lead us to trying to write reactive queries like `$: query = useMyQuery(changingValue)`, which sort of worked but ended up causing a lot of other issues. We only stumbled up on `setOptions` / `updateOptions` after some lucky search terms lead us

[2022-06-01 15:31] beebase commented on #49
I just tried this rep https://github.com/geoffreymugnier/vite-svelte-query-crash
but the same error message is back.
Maybe something changed since we're almost a year ahead now?

[2022-06-01 15:50] beebase opened #93 "[question] Can svelte-query only be used inside a svelte component?"
when I try to call  useQuery(..) inside a regular .js file I get this error:

`Function called outside component initialization`

Can we only use svelte-query inside svelte components?
I am using vite and svelte (not svelte-kit).

This tip doesn't work for me.
[code]

[2022-06-18 22:46] sw-yx commented on #63
@SomaticIT  i actually installed `broadcast-channel` but am still getting this error. no idea how to resolve.

![image](https://user-images.githubusercontent.com/6764957/174459317-2c4bafe5-b06a-4361-9967-d309be7221ba.png)

[2022-06-18 22:58] sw-yx opened #94 ""No QueryClient set, use QueryClientProvider to set one" when I definitely set one"
## REPRO HERE

https://github.com/sw-yx/svelte-query-issue-repro/

## Problem

here is my code inside `src/routes/index.svelte`

[code]

and this is the error i get

[code]

![image](https://user-images.githubusercontent.com/6764957/174459577-c0ee74b2-4a27-4343-add0-96e2e060b0c8.png)

[2022-06-20 08:55] amen-souissi commented on #94
Hello @sw-yx and thanks for this issue!
[index.svelte Line 11](https://github.com/sw-yx/svelte-query-issue-repro/blob/eeb39457b0d71462f8084199308b9bd4013543cc/src/routes/index.svelte#L11):
`const queryResult = useQuery('repoData', () => fetch('/api').then((res) => res.json()));`
Must be defined inside the provider.

index.svelte:
[code]

MyComponent.svelte:

[code]

Thanks!

[2022-06-21 21:19] #94 closed

[2022-06-23 06:07] Nisthar opened #95 "usage in multiple files"
I have two components: UserHome.svelte and UserProfile.svelte.

I want to query users posts when the user navigates to UserHome.svelte. But i want the data to be stored in cache and when the user navigates to UserProfile.svelte it should have access to the cached data. How can i do this?

[2022-06-23 06:08] Nisthar opened #96 "is there more maintained library like this one?"

[2022-06-27 06:13] denovodavid commented on #96
Doesn't seem to be, but **React Query** has been renamed to **[TanStack Query](https://github.com/tanstack/query)** and v4 will seemingly have a **Svelte** adapter, along with **Vue** and **Solid**... So I'm _guessing_ this library will be deprecated once that is available.

[2022-07-06 12:33] sillvva commented on #95
You should be able to just use the same query key and fetcher function. If the data is still cached, it will return the results that were previously cached with that key. To avoid background re-fetches, update your cacheTime and staleTime defaults.

Caching Info: https://sveltequery.vercel.app/guides/caching
Query Options Reference: https://sveltequery.vercel.app/reference/useQuery

[code]

The di

[2022-07-06 17:11] Nisthar commented on #95
I can only seem to access it on the same page.

[code]
i can access this data in the same component using `useQueryClient().getQueryData('getMyPosts')` but if i use it in another page, it is always undefined.

[2022-07-21 00:03] Arzemn opened #97 "Hooking needing subscribe to get results"
-Update - i figured it out, in svelte land you put a $ in front to autosubscribe

I am working on evaluating svelte-query and so far i am having an issue where it seems i have to subscribe to get the results instead of the hook automatically subscribing and giving me the results
for example, i can only get the custom hook results to work like below
[code]

i was expecting it to work more like this

[2022-07-21 00:13] #97 closed

[2022-07-21 00:13] Arzemn commented on #97
Figured out i should put the $ in front of any variable to autosubscribe

$listPets will update on changes and give what is needed ($list.isLoading, $list.data)

[2022-08-04 17:51] BradNut commented on #96
@denovodavid have you seen any indication of when that is planned besides "Coming Soon"? Just wondering whether to try using this repository at all with SvelteKit vs. waiting for the other to be ready.

[2022-08-04 21:11] amen-souissi commented on #96
https://twitter.com/tannerlinsley/status/1551637853100068865 this repository will be migrated to [TanStack Query](https://github.com/tanstack/query).

[2022-08-09 04:03] likidu commented on #96
Any timeline for this?

[2022-08-10 09:00] multiplehats commented on #96
I think it's going to take a while unfortunately :/

[2022-08-10 09:05] multiplehats commented on #95
Here's how I do it @Nisthar .

[code]

[code]

[code]

[2022-08-11 21:05] ericpgreen2 commented on #83
I'm also struggling to get this library to work with SvelteKit. What did you end up doing?

[2022-08-29 08:37] GrassHopper42 opened #98 "InfiniteQueries fetch only first page"
this is my code using infiniteQueries
[code]

when I log page and pageParams in console, pageParams return correctly but first page only add in page array.

[2022-08-29 08:41] GrassHopper42 commented on #98
sorry... just my typo issue...

[2022-08-29 08:42] #98 closed

[2022-08-30 03:30] ericpgreen2 commented on #88
Ditto, I'd love to see some best practices documentation for custom hooks & reactive values!

I'd like my component code to look similar to `react-query` component code, as in @pzcfg's example above: `$: query = useRoomQuery(site, building, floor, room)`

What's the proper `svelte-query` pattern for these custom hooks? Can we idempotently call `useQuery`? Or should we call `useQuery` the first tim

[2022-08-31 10:05] SomaticIT commented on #82
FYI, with the latest version of `vite` (v3.1.0-beta.1) that is included in the latest version of `sveltekit`, this issue should be 100% resolved.

Indeed, `vite` is now able to detect optional dependencies and should not try to analyze them when it's not needed.

[2022-09-18 17:09] drejohnson commented on #96
I forked it and made a few changes to update it to use tanstack/query v4. Working examples included but still need thorough testing

[2022-10-01 13:49] MoritzKronberger commented on #88
I totally agree with @pzcfg, the current solution of using `updateOptions` produces tons of code duplication and is not documented anywhere (apart from a hint in the [dependent queries docs](https://sveltequery.vercel.app/guides/dependent-queries)).  But since using `$: query = useMyQuery(changingValue)` means that the entire query is re-created with every change of the reactive value and `previou

[2022-10-01 17:20] pzcfg commented on #88
You need to repeat the `select` function if you're changing what it's selecting. In my example above the `room` value being compared in `item.room_number === room` would not be updated unless you pass in a new `select` function.

Yeah we ended up building something similar to this, although were still having some issues with it. In our case we still wanted to update more than just the queryKey and

[2022-10-12 18:52] Kage0x3B commented on #78
I've experienced the same issue and found a temporary workaround, using a vite plugin which properly excludes the unused import from the [suggested code in this issue](https://github.com/vitejs/vite/issues/6393#issuecomment-1006819717) and then excluding the broadcast-channel dependency with:
[code]

[2022-10-23 17:14] maieulChevalier commented on #96
For those interested in following this : https://github.com/TanStack/query/pull/4344